#initially-hidden {
  display: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
  color: #2DA7DF;
}
